body{
    background-color: lightskyblue;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    position:relative;
    height: 750px;
    width: 1500px;
}
#tree{
    position:absolute;
    z-index: 3;
    top:0;
    left:0;
}

#snow{
    position:absolute;
    z-index: 2;
    top:0;
    left:0;
}

#secret{
    position:absolute;
    z-index: 1;
    right:0;
    bottom:0;
}